In [4]:
from sklearn import linear_model
from sklearn import datasets
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
!ls

Lab.ipynb           Lab5_Regression.pdf test

In [5]:
data = pd.read_table("test", sep = ' ', header = None)
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,NaN,0.00632,18,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,NaN,0.02731,0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,NaN,0.02729,0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,NaN,0.03237,0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,NaN,0.06905,0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [6]:
data.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
count,54.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,452.000000
mean,21.967222,1.269195,13.295257,9.205158,0.140765,1.101175,15.679800,58.744660,6.173308,78.063241,339.317787,42.614980,332.791107,11.537806,23.750442
std,16.362748,2.399207,23.048697,7.169630,0.312765,1.646991,27.220206,33.104049,6.476435,203.542157,180.670077,87.585243,125.322456,6.064932,8.808602
min,10.062300,0.000000,0.000000,0.000000,0.000000,0.385000,3.561000,1.137000,1.129600,1.000000,20.200000,2.600000,0.320000,1.730000,6.300000
25%,13.146275,0.049442,0.000000,3.440000,0.000000,0.449000,5.961500,32.000000,2.430575,4.000000,254.000000,17.000000,364.995000,6.877500,18.500000
50%,15.431850,0.144655,0.000000,6.960000,0.000000,0.538000,6.322500,65.250000,3.925850,5.000000,307.000000,18.900000,390.660000,10.380000,21.950000
75%,23.385425,0.819622,18.100000,18.100000,0.000000,0.647000,6.949000,89.975000,6.332075,24.000000,403.000000,20.200000,395.615000,15.015000,26.600000
max,88.976200,9.966540,100.000000,27.740000,1.000000,7.313000,100.000000,100.000000,24.000000,666.000000,711.000000,396.900000,396.900000,34.410000,50.000000

# Split Train/Test --> strange way

In [23]:
X = data.ix[:,:14]
Y = data.ix[:,14]
p = 0.8
N = len(X.ix[:,1])
K = len(X.ix[1,:])
train_samples = np.random.binomial(1, p, N-1).astype(bool) # train_samples = np.random.randint(0,N-1,np.floor(N*p))
test_samples = ~train_samples # test_samples = np.setdif1d(range(N), train_samples)

In [25]:
X_train = X.ix[train_samples,:]
y_train = Y.ix[train_samples]
X_test = X.ix[test_samples,:]
y_test = Y.ix[test_samples]

# Split Train/Test --> right way

In [7]:
from sklearn.cross_validation import train_test_split

X = data.ix[:,:14]
y = data.ix[:,14]

X_train, X_test, y_train, y_test = np.array(train_test_split(X, y, test_size=0.33, random_state=42))

In [8]:
X_train.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
478,10.233,0.00000,18.1,0.00,0.614,6.185,96.700,2.1705,24.0000,666,20.2,379.7,18.03,14.60,NaN
26,NaN,0.67191,0.0,8.14,0.000,0.538,5.813,90.3000,4.6820,4,307.0,21.0,376.88,14.81,16.6
7,NaN,0.14455,12.5,7.87,0.000,0.524,6.172,96.1000,5.9505,5,311.0,15.2,396.90,19.15,27.1
492,NaN,0.11132,0.0,27.74,0.000,0.609,5.983,83.5000,2.1099,4,711.0,20.1,396.90,13.35,20.1
108,NaN,0.12802,0.0,8.56,0.000,0.520,6.474,97.1000,2.4329,5,384.0,20.9,395.24,12.27,19.8

# Replace NaN

In [28]:
X.isna()

AttributeError: 'DataFrame' object has no attribute 'isna'

# Applying linear regression

In [27]:
lmr = linear_model.LinearRegression(copy_X=False)
lmr.fit(X_train, y_train)
lmr.coef_

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').